{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">{{organisation_name}}</h5>
    <h4 class="my-0 mr-md-auto font-weight-normal">{{name}}</h5>
    <nav class="my-2 my-md-0 mr-md-3">
    </nav>
    <a class="btn btn-outline-primary" href="#">Log Out</a>
  </div>
  <div class="container">
    <nav class="nav nav-pills nav-justified">
      <a class="nav-item nav-link {{announcements}}" href="#">Announcements</a>
      <a class="nav-item nav-link {{deadlines}}" href="#">Deadlines</a>
      <a class="nav-item nav-link {{boards}}" href="#">Boards</a>
      <a class="nav-item nav-link {{lists}}" href="#">Lists</a>
      <a class="nav-item nav-link {{cards}}" href="#">Cards</a>
    </nav>
  </div>
  <br>

  {{table}}

{% endblock %}